* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: .2s linear;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url("walls.png");
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #21293a;
    color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
}

header .logo {
    font-size: 27px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    margin: auto;
    margin-left: 20px;
    color: #fff;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header .navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar a {
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 1rem 1.5rem;
    border-radius: 05px;
    color: aqua;
    letter-spacing: 1px;
}

header .navbar a:hover,
.active {
    background: #fa1648;
    transition: 0.3s;
}

header .btn {
    font-size: 25px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 1rem 2rem;
    }
}

@media (max-width: 768px) {
    header .btn {
        display: block;
    }
    header .navbar {
        position: fixed;
        flex-direction: column;
        min-width: 300px;
        height: 100vh;
        background: #2c3e50;
        top: 0;
        right: -100%;
        transition: all 0.9s;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 10rem;
    }
    header .navbar.active2 {
        right: 0;
        transition: 0.9s;
    }
    header .navbar .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }
    header .navbar a {
        display: block;
        font-size: 1.9rem;
        margin: 15px;
        padding: 0.5rem 15px;
    }
    header .navbar a:hover {
        background: #21293a;
        color: #fff;
    }
    header .logo {
        font-size: 23px;
        margin-left: 8px;
        font-weight: 500;
    }
    .container .box-container .box p {
        font-size: 12px;
        width: 320px;
    }
}

.home {
    font-size: 15px;
    justify-content: center;
    text-align: center;
    margin-top: 250px;
    color: white;
    background: #2c3e50;
}

.home h1 {
    margin: 15px 15px;
}

.home h2 {
    margin-bottom: 30px;
}

.container {
    background: linear-gradient(45deg, blueviolet, lightgreen);
    padding: 15px 9%;
    margin-top: 100px;
    padding-bottom: 100px;
}

.container .heading {
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .box img {
    height: 190px;
    width: 280px;
}

.container .box-container .box h3 {
    color: #444;
    font-size: 22px;
    padding: 10px 0;
}

.container .box-container .box p {
    color: #3e0af8;
    font-size: 15px;
    line-height: 1.8;
    font-weight: bold;
}

.container .box-container .box .btn {
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.btns {
    margin-top: 14px;
    display: inline-block;
    background: #333;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 8px 25px;
}

.btns a:hover {
    color: aqua;
}

.hed {
    padding: 10px;
    display: grid;
    margin-top: 40px;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
}

.boxs img {
    width: 100%;
}

.gall {
    margin-top: 50px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #333;
}

.testimonials {
    padding: 40px 0;
    margin-top: 25px;
    background: #f1f1f1;
    color: #050000;
    text-align: center;
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    font-size: 19px;
    font-weight: bold;
    background-color: aqua;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #fff;
    padding: 30px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-size: 25px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars {
    color: red;
    margin-bottom: 22px;
}

@media screen and (max-width:960px) {
    .col {
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width:600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}


/* contacts */

footer {
    width: 100%;
    height: auto;
    font-weight: bold;
    color: rgb(17, 0, 3);
    padding-top: 80px;
    background-color: #ffffff;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 15px;
}

.footer-widget img {
    margin-top: 40px;
    margin-left: 10px;
    width: 320px;
    height: 190px;
}

.wrapper .footer-widget .logo {
    margin-bottom: 30px;
    vertical-align: middle;
}

.wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
}

.wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrapper .footer-widget .socials li {
    list-style: none;
}

.wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: #ffffff;
    background-color: rgba(17, 252, 56, 0.5);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .socials li a:hover {
    background-color: #eeeff0;
}

.wrapper .footer-widget h6 {
    color: #060608;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.wrapper .footer-widget .links li {
    list-style: none;
}

.wrapper .footer-widget .links li a {
    color: #000504;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all 0.2s ease-out;
}

.wrapper .footer-widget .links li a:hover {
    color: #037ef3;
}

.copyright-wrapper {
    padding: 20px 0;
    border-top: 1px solid rgba(38, 44, 226, 0.4);
}

.copyright-wrapper p {
    color: #16fac5;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.copyright-wrapper p a:hover {
    color: #037ef3;
}


/* Let's write the media query */

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
        width: calc(50% - 30px);
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
        width: 100%;
        margin: 0 10px 50px;
    }
}

.adders {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    background-color: cyan;
    color: rgb(253, 22, 22);
}

.adders span {
    justify-content: center;
    margin: 10px;
    text-align: center;
}

.arm {
    display: flex;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin-left: 15px;
}

.contacts {
    background: #fdf144;
    font-weight: bold;
}

.contacts h1 {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    font-size: 28px;
}

.location {
    justify-content: center;
    text-align: center;
}

iframe {
    width: 300px;
    height: 250px;
}

@media (max-width:800px) {
    .contacts {
        font-size: 16px;
        width: 200px;
        width: auto;
    }
    .arm {
        font-size: 15px;
    }
    .location {
        width: 100px;
        margin-left: 21px;
    }
}

.maa img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .arm p {
        font-size: 15px;
        width: 225px;
    }
    .copyright-wrapper p {
        width: 355px;
        font-size: 21px;
        text-align: -webkit-match-parent;
        margin-left: 26px;
    }
}

.arbaz {
    text-align: center;
    justify-content: center;
}

.arbaz img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.newss {
    font-size: 18px;
    animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.newss a {
    background-color: #16fac5;
    color: black;
    padding: 15px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: bold;
}

.newss a:hover {
    color: #2f05ec;
}